<div class="container">
    <div class="card">
        <div class="card-header">
            
        </div>

        <div class="card-block">
            <form (ngSubmit)="enviar()" #formInventario="ngForm">
                <div class="form-group">
                    <label for="die">ID</label>
                    <input type="text" id="die" class="form-control" [(ngModel)]="inventario.id" name="di" #id="ngModel">
                </div>

                <div class="form-group">
                    <label for="prod">Produto</label>
                    <input type="text" id="prod" class="form-control" [(ngModel)]="inventario.produto" name="prod" #productor="ngModel">
                </div>

                <div class="form-group">
                    <label for="exis">Existência</label>
                    <input type="text" id="exis" class="form-control" [(ngModel)]="inventario.existencia" name="exist" #exisct="ngModel">
                </div>

                <div class="form-group">
                    <label for="price">Preço</label>
                    <input type="text" id="price" class="form-control" [(ngModel)]="inventario.preco" name="pric" #price="ngModel">
                </div>

                <div class="form-group">
                    <label for="prov">Provedor</label>
                    <input type="text" id="prov" class="form-control" [(ngModel)]="inventario.provedor" name="provi" #provider="ngModel">
                </div>
                <button type="submit" class="btn btn-default">Salvar</button>                
            </form>
        </div>
        
    </div>
</div>