<div class="container">
    <div class="card">
        <div class="card-header">
            Lista de produtos
        </div>

        <div class="card-block">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th>Id</th>
                        <th>produtos</th>
                        <th>Existencia</th>
                        <th>Preço</th>
                        <th>Provedor</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of lista">
                        <td>{{item.id}}</td>
                        <td>{{item.produto}}</td>
                        <td>{{item.existencia}}</td>
                        <td>{{item.preco}}</td>
                        <td>{{item.provedor}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" (click)="selecionar(item.id)">
                               <i class="fa fa-pencil fa-fw"></i> Selecionar
                            </button>
                            <button class="btn btn-sm btn-danger" (click)="eliminar(item.id)">
                                <i class="fa fa-trash-o fa-fw"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>